<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="isSidebarOpen" class="sidenav">
    <div class="sidebar-header">
      <img src="/images/logo-black-green.png" alt="National Landfill Watch" class="logo" />
    </div>

    <mat-nav-list>
      <a
        mat-list-item
        (click)="navigateToMap()"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>public</mat-icon>
        <span>{{ 'sidebar.map' | translate }}</span>
      </a>

      <a
        mat-list-item
        [routerLink]="['/statistics']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>bar_chart</mat-icon>
        <span>{{ 'sidebar.statistics' | translate }}</span>
      </a>

      <a
        mat-list-item
        [routerLink]="['/blog']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>article</mat-icon>
        <span>{{ 'sidebar.blog' | translate }}</span>
      </a>

      <a
        mat-list-item
        [routerLink]="['/faq']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>help_outline</mat-icon>
        <span>{{ 'sidebar.faq' | translate }}</span>
      </a>

      <a
        mat-list-item
        [routerLink]="['/about']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon>info_outline</mat-icon>
        <span>{{ 'sidebar.about' | translate }}</span>
      </a>
    </mat-nav-list>

    <div class="sidebar-bottom">
      <!-- Language Picker -->
      <select
        [(ngModel)]="selectedLang"
        (change)="changeLanguage(selectedLang)"
        class="language-picker"
      >
        <option value="en">EN</option>
        <option value="sr">SR</option>
      </select>

      <!-- Dark-Light Mode Toggle -->
      <button
        mat-icon-button
        (click)="toggleTheme()"
        [matTooltip]="
          isDarkMode
            ? ('sidebar.theme.tooltip.light' | translate)
            : ('sidebar.theme.tooltip.dark' | translate)
        "
      >
        <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div [ngClass]="isMapRoute ? 'router-container-map' : 'router-container-default'">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
